{namespace neoscr=Neos\ContentRepository\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fs=Neos\Fusion\ViewHelpers}

<div class="list-news-plugin" >
    <section class="news sw">
        <header>
            <strong>
                {neos:contentElement.editable(property: 'headline')}
            </strong>
        </header>

            <neoscr:widget.paginate nodes="{newsCollection}" as="paginatedNewsItems" widgetId="listable-paginate" configuration="{paginationConfig}">
                <ul class="content">
                    <f:for each="{paginatedNewsItems}" as="news" iteration="iterator">
                        <fs:render path="itemRenderer" context="{newsItem: news, iterator: iterator}" />
                    </f:for>
                </ul>
            </neoscr:widget.paginate>
        <f:if condition="{linkToAll}">
            <footer>
                <neos:link.node node="{linkToAll}" >Alle Nachrichten</neos:link.node>
            </footer>
        </f:if>

    </section>
</div>